
*,
*::before,
*::after {
  box-sizing: border-box;
  outline: solid 2px orange; 
}

// .material-symbols-outlined {
//   font-variation-settings:

// }

body {
    line-height: 1.5;
    font-family: $font-family-base $font-eng;
}

.container {
    max-width: 1320px;
    padding: 0 12px;
    margin: 0 auto;
}


@media (max-width: 768px) {
    .container {
        // max-width: $tablet-container-width;
        max-width: 720px;
        padding: 0 24px;
    }
}

@media (max-width: 576px) {
    .container {
        // max-width: $phone-container-width;
        max-width: 540px;
        padding:0 13px;
    }
}


.container-contact {
    max-width: 636px;
    margin: 0 auto;
}

.container-subheader{
    max-width: 1296px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container-subheader {
        width: 100%;
    }
}




.d-flex{
    display: flex;
}

.flex-wrap{
    flex-wrap: wrap;
}

.align-items-center{
    align-items: center;
}

.flex-column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.space-around{
    justify-content: space-around;
}

.space-evenly{
    justify-content: space-evenly;
}

.justify-content-center{
    justify-content: center;
}


.text-center{
    text-align: center;
}

.text-vertical-center{
    display: flex;
    align-items: center;
}


img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}

