$font-family-base: "Noto Sans TC", sans-serif;
$font-eng: "Roboto", sans-serif;


$font-size-h1: 64px;
$font-size-h2: 48px;
$font-size-h2-m: 42px;
$font-size-h3: 36px;
$font-size-h3-m: 32px;
$font-size-h4: 24px;
$font-size-h5: 20px;
$font-size-h5-m: 19px;
$font-size-h6: 18px;
$font-size-base: 16px;
$font-size-small: 14px;



$primary-color: #AA0601;
$secondary-color: #FBF2F2;
$title-color: #650300;

$other-color-1:#FFFFFF;
$other-color-2:#000000;
$other-color-3:#000029;
$other-color-4:#DEE2E6;
$other-color-5:#707070;
$other-color-6:#DCDCDC;
$other-color-7:#5f3e2d;
$other-color-8:#b75929;
$other-color-9:#555555;
$other-color-10:#9F1213;



$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$tablet-container-width: 696px;
$phone-container-width: 348px; // 348+24px