<!--
 * @Author: Yi-Ping Jiang apple80177@gmail.com
 * @Date: 2024-08-11 17:09:14
 * @LastEditors: Yi-Ping Jiang apple80177@gmail.com
 * @LastEditTime: 2024-08-11 17:09:20
 * @FilePath: /project/glass_website/layout/city-select.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<form action="" class="d-flex location-form">
    <label for="city" class="city-label">選擇地區</label>
    <select name="city" id="" class="city-select">
        <option value="台北市">台北市</option>
        <option value="新北市">新北市</option>
        <option value="台中市">台中市</option>
        <option value="台南市">台南市</option>
        <option value="高雄市">高雄市</option>
    </select>
</form>