<footer class="footer">
    <div class="container-footer">
        <div class="footer-group d-flex">
            <div class="footer-content d-flex">
                <ul class="footer-links d-flex ">
                    <li><a href="index.html" class="footer-link">首頁</a></li>
                    <li><a href="classic-optical.html" class="footer-link">系列鏡框</a></li>
                    <li><a href="location.html" class="footer-link">門市據點</a></li>
                    <li><a href="blog.html" class="footer-link">部落格</a></li>
                    <li><a href="faq.html" class="footer-link">常見問題</a></li>
                </ul>
                <ul class="footer-contact d-flex">
                    <li><a href="" class="d-flex contact-info"><span class="icon material-symbols-outlined">
                        call
                        </span>0800-000-00</a></li>
                    <li><a href="" class="d-flex contact-info"><span class="icon material-symbols-outlined">
                        email
                        </span>glasses@business.co</a></li>
                </ul>
            </div>
            <div class="">
                <ul class="d-flex space-between social-link">
                    <li><a href="#"><img src="../assets/images/ic-social-fb.png" alt="fb" class="social-img"></a></li>
                    <li><a href="#"><img src="../assets/images/ic_social_ig.png" alt="ig" class="social-img"></a></li>
                    <li><a href="#"><img src="../assets/images/ic_social_line.png" alt="line" class="social-img"></a></li>
                </ul>
            </div>
        </div>

        <div class="footer-copyright d-flex space-between align-items-center">
            <p class="">Copyright © 2024 Glasses.All rights reserved.</p>
            <ul class="footer-privacy d-flex">
                <li><a href="#">隱私權政策</a></li>
                <li><a href="#">服務條款</a></li>
            </ul>
        </div>
        
</footer>