<!--
 * @Author: Yi-Ping Jiang apple80177@gmail.com
 * @Date: 2024-08-04 16:43:50
 * @LastEditors: Yi-Ping Jiang apple80177@gmail.com
 * @LastEditTime: 2024-08-04 20:53:23
 * @FilePath: /project/glass_website/layout/header.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<h1 class="header">
    <div class="container nav d-flex space-between">
        <a href="index.html" class="logo"><img src="../assets/images/logo-white.png" alt="logo"></a>
        <ul class="d-flex align-items-center nav-tab">
            <li><a href="#">系列鏡框</a></li>
            <li><a href="#">門市據點</a></li>
            <li><a href="#">部落格</a></li>
            <li><a href="#">常見問題</a></li>
        </ul>
    </div>
</h1>
<!-- <a href="index.html">index</a>
<a href="about.html">about</a>
<a href="contact.html">contact</a> -->