<!--
 * @Author: Yi-Ping Jiang apple80177@gmail.com
 * @Date: 2024-08-10 19:03:15
 * @LastEditors: Yi-Ping Jiang apple80177@gmail.com
 * @LastEditTime: 2024-08-11 22:01:14
 * @FilePath: /project/glass_website/layout/pagelink.ejs
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<div class="container">
    <ul class="pagelink d-flex justify-content-center">
        <li><a href="#">上一頁</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">下一頁</a></li>
    </ul>
</div>
