.classic-nav{
    display: flex;
}

.classic-nav-item{
    width: 33.333%;
    position: relative;
    text-align: center;
    font-size: $font-size-h3-m;
    font-weight: $font-weight-medium;
    color: $other-color-2;
    border:1px solid $other-color-6;
}

.classic-nav-item-link{
    color: $other-color-2;
    display: block;
    padding: 24px 0px;
    &:hover::after{
        content: '';
        position:absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 8px;
        background-color: $primary-color;
    }
}

@media (max-width: 768px) {
    .classic-nav-item{
        font-size: 24px;
    }
}

@media (max-width: 576px) {
    .classic-nav-item{
        font-size: 16px;
    }
}