


.classic-optical-product-group {
    padding: 80px 0px;
}

.classic-optical-product{
    // margin: 0 -12px;

}

.classic-optical-product-title {
    font-size: $font-size-h2-m;
    font-weight: $font-weight-medium;
    font-family: $font-eng;
}

.classic-optical-product-subtitle {
    font-size: $font-size-h3-m;
    font-weight: $font-weight-regular;
    margin-bottom: 32px;
}

.classic-optical-product-item{
    width: 25%;
    padding: 0 12px;
    margin-bottom: 80px;

}

.classic-optical-product-item{
    font-size: $font-size-h4;
    font-weight: $font-weight-medium;

}

.classic-optical-product-item-info {
    justify-content: space-between;
}
.classic-optical-product-item-info p{
    color: $primary-color;
    text-align: right;
}


.classic-optical-product-color-group{
    gap: 8px;
}

.classic-optical-product-color-1{
    background-color: $other-color-7;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.classic-optical-product-color-2{
    background-color: $other-color-8;
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

@media (max-width: 992px) {
    .classic-optical-product-group {
        padding: 80px 0px;
    }
    .classic-optical-product-item{
        width:50%;
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {

}
  
  @media (max-width: 576px) {
    .classic-optical-product-item{
        width:100%;
        margin-bottom: 24px;
    }
}