
.location-title{
    font-size: $font-size-h2;
    border-left: 8px solid $other-color-10;
    // margin-top: 96px;
    // margin-bottom: 33px;
    padding-left: 16px;
    font-weight: $font-weight-bold;
    margin: 96px -12px 33px -12px;
}



.store-group {
    margin: 0px -12px;
}


.store-item{
    width:33.33%;
    padding: 0 12px;
    margin-bottom: 48px;
}


.store-info-card{
    flex-direction: column;

}

.store-map{
    width:58.333%;
}

.store-item-title{
    border: 0.5px solid $other-color-5;
    font-size: $font-size-h4;
    font-weight: $font-weight-regular;
    padding: 8px 24px;
}

.loaction-info{
    border: 0.5px solid $other-color-5;
    padding: 16px 24px;
    font-size: $font-size-h5;
    gap: 8px;
}


.store-item-btn{
    width: 100%;
    background-color: $other-color-2;
    color: $other-color-1;
    font-size: $font-size-h5-m;
    padding: 16px 0;
    
}

.store-item-info{
    border: 0.5px solid $other-color-5;
    padding: 16px 24px;
    font-size: $font-size-h5;
    gap: 8px;
}

.store-item-card{
    width: 41.666%;
}

@media (max-width: 992px) {
    
}

@media (max-width: 768px) {

    .location-title{
        margin: 96px -24px 33px -24px;
    }

    .store-group {
        margin: 0px -36px;
    }

    .store-item{
        width: 50%;
    }

    .store-item-card{
        flex-direction: row;
        // padding:0 16px;
        width: 100%;
        gap:24px;
    }

    .store-item-img{
        width: 50%;
    }
    .store-info-card {
        width: 50%;
    }

    .store-map{
        width:100%;
    }

    // .store-group{
    //     gap: 24px;
    // }

}

@media (max-width: 576px) {
    .location-title{
        font-size: 24px;
        margin-top: 40px;
    }

        
    .store-item{
        width:100%;
    }

    .location-title{
        margin: 96px -16px 33px -16px;
    }

    .store-group {
        margin: 0px -28px;
    }
}