<!--
 * @Author: Yi-Ping Jiang apple80177@gmail.com
 * @Date: 2024-08-04 16:43:50
 * @LastEditors: Yi-Ping Jiang apple80177@gmail.com
 * @LastEditTime: 2024-08-11 21:35:00
 * @FilePath: /project/glass_website/pages/about.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>classic-optical</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <%- include('./layout/subheader'); -%>


    <ul class="classic-optical-banner d-flex">
      <li class="classic-optical-banner-item">
        <img src="../assets/images/product-header-1.png" alt="OPTICAL">
      </li>
      <li class="classic-optical-banner-item">
        <img src="../assets/images/product-header-2.png" alt="OPTICAL">
      </li>
    </ul>

    <div class="classic-optical-product-group container">
      <div class="flex-column text-center">
        <h2 class="classic-optical-product-title">Celluloid Combi</h2>
        <h3 class="classic-optical-product-subtitle">賽璐珞鈦金屬混合鏡框</h3>
      </div>

      <ul class="classic-optical-product flex-wrap d-flex">
        <li class="classic-optical-product-item">
          <img src="../assets/images/product-1.png" alt="">
          <div class="classic-optical-product-item-info d-flex">
            <h4>BJ41600S</h4>
            <p>NTD43,490</p>
          </div> 
          <ul class="classic-optical-product-color-group d-flex">
            <li class="classic-optical-product-color-1"></li>
            <li class="classic-optical-product-color-2"></li>
          </ul>
        </li>
        <li class="classic-optical-product-item">
          <img src="../assets/images/product-2.png" alt="">
          <div class="classic-optical-product-item-info d-flex">
            <h4>BJ41600S</h4>
            <p>NTD43,490</p>
          </div>
          <ul class="classic-optical-product-color-group d-flex">
            <li class="classic-optical-product-color-1"></li>
            <li class="classic-optical-product-color-2"></li>
          </ul>
        </li>
        <li class="classic-optical-product-item">
          <img src="../assets/images/product-3.png" alt="">
          <div class="classic-optical-product-item-info d-flex">
            <h4>BJ41600S</h4>
            <p>NTD43,490</p>
          </div>
          <ul class="classic-optical-product-color-group d-flex">
            <li class="classic-optical-product-color-1"></li>
            <li class="classic-optical-product-color-2"></li>
          </ul> 
        </li>
        <li class="classic-optical-product-item">
          <img src="../assets/images/product-4.png" alt="">
          <div class="classic-optical-product-item-info d-flex">
            <h4>BJ41600S</h4>
            <p>NTD43,490</p>
          </div>
          <ul class="classic-optical-product-color-group d-flex">
            <li class="classic-optical-product-color-1"></li>
            <li class="classic-optical-product-color-2"></li>
          </ul> 
        </li>
        <li class="classic-optical-product-item">
          <img src="../assets/images/product-5.png" alt="">
          <div class="classic-optical-product-item-info d-flex">
            <h4>BJ41600S</h4>
            <p>NTD43,490</p>
          </div>
          <ul class="classic-optical-product-color-group d-flex">
            <li class="classic-optical-product-color-1"></li>
            <li class="classic-optical-product-color-2"></li>
          </ul> 
        </li>
        <li class="classic-optical-product-item">
          <img src="../assets/images/product-6.png" alt="">
          <div class="classic-optical-product-item-info d-flex">
            <h4>BJ41600S</h4>
            <p>NTD43,490</p>
          </div>
          <ul class="classic-optical-product-color-group d-flex">
            <li class="classic-optical-product-color-1"></li>
            <li class="classic-optical-product-color-2"></li>
          </ul> 
        </li>
        <li class="classic-optical-product-item">
          <img src="../assets/images/product-7.png" alt="">
          <div class="classic-optical-product-item-info d-flex">
            <h4>BJ41600S</h4>
            <p>NTD43,490</p>
          </div>
          <ul class="classic-optical-product-color-group d-flex">
            <li class="classic-optical-product-color-1"></li>
            <li class="classic-optical-product-color-2"></li>
          </ul> 
        </li>
        <li class="classic-optical-product-item">
          <img src="../assets/images/product-8.png" alt="">
          <div class="classic-optical-product-item-info d-flex">
            <h4>BJ41600S</h4>
            <p>NTD43,490</p>
          </div>
          <ul class="classic-optical-product-color-group d-flex">
            <li class="classic-optical-product-color-1"></li>
            <li class="classic-optical-product-color-2"></li>
          </ul> 
        </li>
        <li class="classic-optical-product-item">
          <img src="../assets/images/product-9.png" alt="">
          <div class="classic-optical-product-item-info d-flex">
            <h4>BJ41600S</h4>
            <p>NTD43,490</p>
          </div>
          <ul class="classic-optical-product-color-group d-flex">
            <li class="classic-optical-product-color-1"></li>
            <li class="classic-optical-product-color-2"></li>
          </ul> 
        </li>
        <li class="classic-optical-product-item">
          <img src="../assets/images/product-10.png" alt="">
          <div class="classic-optical-product-item-info d-flex">
            <h4>BJ41600S</h4>
            <p>NTD43,490</p>
          </div>
          <ul class="classic-optical-product-color-group d-flex">
            <li class="classic-optical-product-color-1"></li>
            <li class="classic-optical-product-color-2"></li>
          </ul> 
        </li>
        <li class="classic-optical-product-item">
          <img src="../assets/images/product-11.png" alt="">
          <div class="classic-optical-product-item-info d-flex">
            <h4>BJ41600S</h4>
            <p>NTD43,490</p>
          </div>
          <ul class="classic-optical-product-color-group d-flex">
            <li class="classic-optical-product-color-1"></li>
            <li class="classic-optical-product-color-2"></li>
          </ul> 
        </li>
        <li class="classic-optical-product-item">
          <img src="../assets/images/product-12.png" alt="">
          <div class="classic-optical-product-item-info d-flex">
            <h4>BJ41600S</h4>
            <p>NTD43,490</p>
          </div>
          <ul class="classic-optical-product-color-group d-flex">
            <li class="classic-optical-product-color-1"></li>
            <li class="classic-optical-product-color-2"></li>
          </ul> 
        </li>
    </div>


    <%- include('./layout/pagelink'); -%>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
