<!--
 * @Author: Yi-Ping Jiang apple80177@gmail.com
 * @Date: 2024-08-04 16:43:50
 * @LastEditors: Yi-Ping Jiang apple80177@gmail.com
 * @LastEditTime: 2024-08-04 20:09:25
 * @FilePath: /project/glass_website/pages/index.html
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>glass-website</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@36..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <h1 class="index-title">我是首頁</h1>
    <!-- <img src="../assets/images/cat.jpg" style="width: 300px;" alt="cat"> -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
